%h1 Participa y envíanos tu receta

= simple_form_for @message, :url => verify_messages_path ,:html =>{:multipart => true} do |f|
  = flash[:notice]
  = f.input :dni, :label => "Número de DNI"
  = f.submit 'Siguiente'