%p.description
  %strong Cuenta Ganadora
  presenta el
  %strong Primer Concurso Más Bueno Que El Pan.
  Sube tu
  %strong receta
  que tenga al
  %strong pan como protagonista
  y puedes
  %strong ganar $ 5, 000 dólares.
  Además, vive la experiencia de
  %strong cocinar en la Final de la Feria Mistura.
.video
  = image_tag "video.jpg", :width => 

.section_header
  %h3.left Las últimas recetas
  %h4.right Vota por tus recetas favoritas

%ul#messages_list
  = render @messages
