%p.description
  Le rendimos homenaje al pan
  %strong premiando con US$ 5,000
  a la mejor receta que tenga al
  %strong pan como ingrediente principal.
  Además, los 5 finalistas vivirán la experiencia de
  %strong cocinar en Mistura.
.video
  :erb
    <iframe width="500" height="314" src="http://www.youtube.com/embed/sBBZUhaaYo0?controls=0&disablekb=1&enablejsapi=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>

.section_header
  %h3.left Las últimas recetas
  %h4.right Vota por tus recetas favoritas

%ul#messages_list
  = render @messages
