#header
  #logo
    %h1#bbva
      = link_to "BBVA Continental", "http://bbvacontinental.com.pe", :target => "_blank"
    %h2#contest_logo
      = link_to "Concurso Más bueno que el Pan", 'http://apps.facebook.com/masbuenoqueelpan/'
  %ul
    %li.like
      :erb
        <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=171113506293961&amp;xfbml=1"></script><fb:like href="http://apps.facebook.com/masbuenoqueelpan" send="false" layout="button_count" width="60" show_faces="false" font=""></fb:like>
    %li
      %ul
        %li
          %a#back_to_home{:href => 'http://apps.facebook.com/masbuenoqueelpan/', :class => "button"} Inicio
        %li
          %a#new_message_button{:href => "http://apps.facebook.com/masbuenoqueelpan#{add_recipes_path}", :class => "button"} Sube tu receta
