!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Primer Concurso Más Bueno Que El Pan
    :erb
      <script type="text/javascript">
        window.onload = function(){
          parent.$.fancybox.close();
        }
      </script>
  %body