!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    :erb
      <script type="text/javascript">
        window.onload = function(){
          parent.$.fn.fancybox.close();
        }
      </script>
  %body